h1
{
    text-align: center;
    font-family: Coronetscript, cursive;
}

h2
{
    border: 3px solid powderblue;
    margin: 50px;
}

.card
{
    margin: 50px;
}

p
{
    text-align: center;
    font-size: large;
}

.margin
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img
{
    margin-bottom: 50px;
}

.alert
{
    margin-top: 100px;
    text-align: right;
}

.fa
{
    text-align: center;
    padding: 20px;
    font-size: 30px;
}

h3
{
    text-align: center;
    margin: 20px;
}

.vertical
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 450px;
    height: 650px;
}

.horizontal
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 450px;
}

.btn
{
    float: right;
}

.breadcrumb
{
    margin-top: 50px;
}